.page-404 {
  #block-bsa-page-title {
    display: none;
  }

  .layout--onecol {
    > .layout__region--content {
      > .block{
        .text-long {
          img {
            margin-top: 37px;
            margin-bottom: 30px;
          }
          h2 {
            font-family: $nunito;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.3px;
            text-align: center;
            color: $black;
          }
          p {
            font-family: $nunito;
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.3px;
            text-align: center;
            color: $black;
          }
        }
      }
    }

  }

}