.share-block {
  text-align: left;
  width: auto;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  @include medium {
    margin-top: 0;
  }
  .copy {
    background: url('/themes/custom/bsa/images/icons/share.png') no-repeat right 4px center;
    background-size: auto 30px;
    font-family: $nunito;
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: $black;
    padding-right: 40px;
    @include medium {
      font-size: 20px;
      line-height: 2;
      background-size: auto 40px;
      background-position: right 0 center;
      padding-right: 55px;
    }
    @include large {
      font-size: 23px;
    }
  }

  &.is-open {
    .copy {
      background: url('/themes/custom/bsa/images/icons/share-icon-open.png') no-repeat right 4px center;
      background-size: auto 30px;
      @include medium {
        background-size: auto 40px;
        background-position: right 0 center;
      }
    }
    .dropdown-items {
      display: block;
    }
  }

  .dropdown-items {
    opacity: 1;
    position: absolute;
    right: 0;
    background: $white;
    z-index: 2;
    left: -220px;
    top: 7px;
    width: 210px;
    padding: 0;
    transition: all 0.5s;
    text-align: right;
    display: none;
    @include medium {
      width: 40px;
      right: 5px;
      left: auto;
      top: 100%;
      padding-top: 8px;
    }
    @include large {
      padding-top: 10px;
    }


    // Replace images from design.
    .a2a_button_sms,
    .a2a_button_email,
    .a2a_button_linkedin,
    .a2a_button_twitter,
    .a2a_button_facebook {
      span {
        display: block;
        width: 30px !important;
        height: 30px !important;
        border-radius: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0) !important;
        background-size: 100% auto !important;
        svg {
          opacity: 0;
          background: none;
        }
        @include medium {
          width: 40px !important;
          height: 40px !important;
          margin-bottom: 8px;
        }
      }
    }

    .a2a_button_sms span {
      background: url('/themes/custom/bsa/images/icons/social/sms-icon.png') no-repeat center;
      background-size: 100%;
    }

    .a2a_button_email span {
      background: url('/themes/custom/bsa/images/icons/social/email-icon.png') no-repeat center;
      background-size: 100%;
    }

    .a2a_button_linkedin span {
      background: url('/themes/custom/bsa/images/icons/social/in-icon.png') no-repeat center;
      background-size: 100%;
    }

    .a2a_button_twitter span {
      background: url('/themes/custom/bsa/images/icons/social/tw-icon.png') no-repeat center;
      background-size: 100%;
    }

    .a2a_button_facebook span {
      background: url('/themes/custom/bsa/images/icons/social/fb-icon.png') no-repeat center;
      background-size: 100%;
    }


  }

  .share-item {
    width: auto;
    min-width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
  }

}


.share-block-wrapper {
  text-align: right;
  padding-bottom: 0;
}