{#
/**
 *
 * Available variables:
 * - href: link href.
 * - target: link target.
 * - link: A rendered link element.
 * - icon_url: path to icon.
 */
#}

<a href="{{ href }}" target="{{ target }}" class="social-icon">
  <img src="{{ icon_url }}" alt="{{ alt }}">
</a>