<div class="release-form-filters">

  <div class="form-item search">
    <label for="edit-name" class="form-item__label form-item__label--required form-item__label--textfield">KEYWORD SEARCH</label>
    <input autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Enter a Keyword">
  </div>

  <div class="form-item">
    <label for="select" class="form-item__label form-item__label--textfield">YEAR</label>
    <div class="form-item__dropdown">
      <select class="form-item__select">
          <option>Danish danish candy canes bonbon cheesecake danish marzipan</option>
          <option>Rebel Mission to Ord Mantell</option>
          <option>Veggies sunt bona vobis, proinde vos postulo</option>
          <option>Yeah, I like animals better than people sometimes</option>
          <option>Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo</option>
          <option>Help, help, I'm being repressed!</option>
      </select>
    </div>
  </div>

  <div class="form-item">
    <label for="select" class="form-item__label form-item__label--textfield">TAGS</label>
    <div class="form-item__dropdown">
      <select class="form-item__select">
        <option>Danish danish candy canes bonbon cheesecake danish marzipan</option>
        <option>Rebel Mission to Ord Mantell</option>
        <option>Veggies sunt bona vobis, proinde vos postulo</option>
        <option>Yeah, I like animals better than people sometimes</option>
        <option>Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo</option>
        <option>Help, help, I'm being repressed!</option>
      </select>
    </div>
  </div>

</div>

