<div class="media-contact-item">
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    "heading_level": heading_level,
    "heading": label,
  } %}
  <div class="copy">
    {{ copy|raw }}
  </div>
</div>
