<div class="bsa-member-item">
  <a href="{{ element['#url'] }}">
    <img src="/themes/custom/bsa/images/view-more-blue.png" alt="{{ element['#title'] }}" />
    <p>{{ element['#title'] }}</p>
  </a>
</div>
