<span class="regional-member-item">
  <span class="image">
    {% block member_icon %}
      <img src="{{ img_src }}" alt="{{ img_alt }}">
    {% endblock %}
  </span>
  <span class="copy">
    {{ member_name }}
  </span>
</span>

