{% set link_color = link_color|default("blue") %}

<span{{ attributes }}>
  {% for item in items %}
    {% include "@atoms/01-links/link/link.twig" with {
      "link_base_class": "bordered-link",
      "link_modifiers": [link_color],
      "link_attributes": [],
      "link_url": item.content['#url'],
      "link_content": item.content['#title']|upper
    } %}
  {% endfor %}
</span>