// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;
$black2: #2a2723;

$section-bg: #f4f4f4;

// Project
$blue: #007AD7;
$blue-light: #35c8cc;
$button-blue: #007bd8;
$navy: #003e6a;
$aqua: #00b9c9;
$cyan: #007bd8;
$dark-blue: #003c91;
$teal: #00587e;
$green-light: #46cc30;
$purple: #6e3092;
$lime: #84c441;
$dark-grey-two: #807d7b;
$dark-grey-one: #605d5a;
$grey: #cac9c8;
$orange: #e64f00;
$light-grey: #e9e9e9;
$yellow: #f9c20a;
$green: #00ac89;
$magenta: #9f3794;
