.bsa-regional-members {
  @include wrapper;
  border-bottom: 1px solid $gray-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $white;

  @include medium {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include large {
    padding: 60px 136px 40px;
  }

  .heading {
    h3 {
      font-family: $nunito;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 3px;
      @include medium {
        font-size: 28px;
        margin-bottom: 60px;
        &:after {
          bottom: -30px;
        }
      }
      @include large {
        font-size: 36px;
        margin-bottom: 90px;
        &:after {
          bottom: -40px;
        }
      }
    }
  }
}


.members-block-regional {
  padding-top: 20px;
  border-bottom: 1px solid $section-bg;

}


.members-block-regional {
  padding-left: 1em;
  padding-right: 1em;

  @include large {
    padding-left: 0;
    padding-right: 0;
  }

  .views-element-container {
    padding-bottom: 20px;

    @include medium {
      padding-bottom: 40px;
    }
    @include large {
      padding-bottom: 60px;
    }
  }
}