.node.node-page {
  .text-long {
    ul {
      li {
        padding-left: 0;
        a {
          color: inherit;
        }
      }
    }
  }
  .text-long {
    p {
      color: #000;
      a {
        color: inherit;
      }
    }
  }
}
