<div class="node-detail-section">
  {% if tags or block('tags') is not empty %}
    <div class="tags">
      {% block tags %}
        {% for tag in tags %}
          {% include "@atoms/12-colored-tag/colored-tag.twig" with {
            "href": tag.href,
            "background_color": tag.background_color,
            "tag_content": tag.tag_content,
            "target": tag.target
          } %}
        {% endfor %}
      {% endblock %}
    </div>
  {% endif %}
  <div class="node-date">
    {% block date %}
      {% include "@atoms/02-text/text/08-date.twig" with {
        "date": date
      } %}
    {% endblock %}
  </div>
  <div class="node-heading">
    {% block heading %}
      {% include "@atoms/02-text/text/09-line-heading-top.twig" with {
        "heading_modifiers": ["top"],
        "heading_content": heading_content,
      } %}
    {% endblock %}
  </div>
  {% block content %}
    {% block main_copy %}
      <div class="node-main-copy">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
          "paragraph_content": paragraph_content
        } %}
      </div>
    {% endblock %}
  {% endblock %}
  {% if tags_copy %}
    <div class="node-bottom-tags">
      <span class="filing-tags">{{ tags_copy }}</span>
      {% block tags_bottom %}
        {% for filing_tag in filing_tags %}
          {% include "@atoms/01-links/link/link.twig" with {
            "link_modifiers": filing_tag.link_modifiers,
            "link_base_class": filing_tag.link_base_class,
            "link_attributes": filing_tag.link_attributes,
            "link_url": filing_tag.link_url,
            "link_content": filing_tag.link_content
          } %}
        {% endfor %}
      {% endblock %}
    </div>
  {% endif %}
</div>

